

/* footer */

footer {
    background-color: #0B3A66;
}

.social {
    color: black;
  }
  
  #linkedin{
    background-color: white;
    font-size: 200%;
  }
  #linkedin:hover{
    background-color: white;
    font-size: 200%;
  }
  
  #google-plus{
    background-color: white;
    color: #db4437;  
    font-size: 200%;
  }
  #google-plus:hover{
    background-color: white;
    color: #db4437;
    font-size: 200%;
  }
  
  #github{
    background-color: white;
    color: black;
    font-size: 200%;
  }
  #github:hover{
    background-color: white;
    color: black;
    font-size: 200%;
  }
  
#foot {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}


.alert {
    text-align: center;

}

.jumbotrton {

}



.contactform {

  background-color: lightblue;
}